/* App.css */
.App {
  border-radius: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chips-container {
  margin-bottom: 10px;
}

input {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center; /* Center text within input */
}
